@import "../../../scss/colours";

.hourly-section {
  margin-bottom: 5rem;
}

.hourly-weather-list {
  display: flex;
  align-items: center;
  border: 0.2rem solid $light-blue;
  background-color: $dark-blue;
  border-radius: 1rem;
  padding: 2rem 3rem;
}
