@import "../../../scss/colours";

.daily-section {
  height: 45rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $dark-blue $blue;
}

.daily-weather-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
