@import "../../../scss/colours";

.daily-section {
  width: 125rem;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: $dark-blue $blue;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  padding-bottom: 2rem;

  h3 {
    margin-left: 2.5rem;
  }

  .daily-weather-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 2rem;
  }
}
